<h3>{{question.date}}</h3>
<p>{{question.notes}}</p>

<button {{action 'delete' question}}>Delete this question</button>

{{#each question.answers as |answer|}}
  {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
{{/each}}
