<div class="well">
  <button {{action 'delete' question}}>Delete this question</button>
  <h3>Date: {{question.date}}</h3>
  <h3>Notes: {{question.notes}}</h3>


  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</div>
