<div class="container">
  <header class="jumbotron">
    <h1>Quest for answers!</h1>
  </header>
  <ul>
    <li>
        {{#link-to 'index'}}Home{{/link-to}}
    </li>
  </ul>
  <hr>
{{outlet}}
<hr>
<footer>
  <p> No question is too small, no question is stupid, really Ask anything!</p>
</footer>
</div>
