<div class="container">
  <header class="jumbotron">
    <h1>Ask Anything!</h1>
  </header>
  <ul>
    <li>
      {{#link-to 'question'}}Questions{{/link-to}}
    </li>
    <li>
      <!-- {{#link-to 'answer'}}Answer{{/link-to}} -->
    </li>
    <li>
        {{#link-to 'index'}}Home{{/link-to}}
    </li>
  </ul>
  <hr>
</div>
{{outlet}}
<hr>
<footer>
  <p> No question is too small, no question is stupid, really Ask anything!</p>
</footer>
