<div class="container">
  <header class="jumbotron">
    <h1>Quest for answers!</h1>
    <h3>Ask the most accomplished knights of the realm</h3>
  </header>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="about">About</a>
      </div>
    </div>
  </nav>
{{outlet}}
<hr>
<footer>
  <p> A community for all of your quest quandries!</p>
</footer>
</div>
